/**
 * Move the @atlaskit/flag container up a little bit so it does not cover the
 * toolbar with the first notification.
 */
.jIMojv{
    bottom: calc(#{$newToolbarSizeWithPadding}) !important;
}

/* TODO: remove!! Ideally we shouldn't have to manually override these colours */
.eoRGoR {
    background-color: $psiphon-gray1 !important;
    color: $psiphon-text3 !important;

    label span {
        color: $psiphon-text3 !important;
    }

    /* tab styling */
    .bdCvri {
        & > span {
            background-color: $psiphon-text3 !important;
        }

        & div {
            color: $psiphon-text3 !important;
        }

        .iqNwPx /* active tab */ {
            color: $psiphon-brand-color !important;

            & span {
                background-color: $psiphon-brand-color !important;
            }
        }
    }

    /* dropdowns */
    div[class^='Droplist__Trigger'] {
        button:not([class^='styled__Button']) { // only style triggers, not buttons
            background-color: $psiphon-gray3 !important;
            color: $psiphon-text3 !important;

            &:hover {
                background-color: $psiphon-info-color !important;
                color: $psiphon-gray1 !important;
            }
        }
    }
    div[class^='Droplist__Content'] { // .cksvax
        background-color: $psiphon-gray3 !important;

        span { /* list items */
            color: $psiphon-text3;

            &[class^='Item-'] { // .hWFSra
                background-color: $psiphon-gray3 !important;

                &:hover {
                    background-color: $psiphon-info-color !important;

                    [class^='ItemParts__Content'] {
                        color: $psiphon-gray1 !important;
                    }
                }
            }

            &[class^='Item__Span']:hover { /* group of items */
                background-color: $psiphon-info-color !important;

                span[class^='Item__Description'],
                span[class^='Item__Content'] { // .jADFbf
                    color: $psiphon-gray1 !important;
                }
            }
        }
    }
    .modal-dialog-form-error div[class^='styled__Container'] { /* list help item */ //.hGkFQY
        background-color: $psiphon-gray3 !important;
        color: $psiphon-text3 !important;
    }

    button.sc-chPdSV {

        /* clickable pop-up link */
        &.eWLjXn /* neutral */,
        &.cwHTLG /* hover */,
        &.ljzeVp /* press */ {
            .ghmfv /* link image */ {
                color: $psiphon-brand-color !important;
                fill: $psiphon-gray1 !important;
            }
            .cJcnUL /* link text hover */,
            .gUxssc /* link text */ {
                color: $psiphon-brand-color !important;
            }
        }
    }

    /* text entry */
    .emyNPN {
        input {
            color: $psiphon-text3 !important;
        }

        .jsYMHu /* neutral */ {
            background-color: transparent !important;
            border-color: $psiphon-gray3 !important;
        }
        .dEUJGG /* focused */ {
            background-color: transparent !important;
            border-color: $psiphon-brand-color !important;
        }
    }
    .dvocAg,
    .exHNhk {
        background-color: $psiphon-gray1 !important;
        border-color: $psiphon-gray3 !important;
        color: $psiphon-text3 !important;
    }
    .OZnnZ,
    .hiHxeB {
        background-color: $psiphon-gray1 !important;
        border-color: $psiphon-gray3 !important;
        color: $psiphon-text3 !important;

        .gDgjow /* text widget inside the text entry */ {
            background-color: $psiphon-input !important;
            color: $psiphon-gray1 !important;

            svg > path {
                fill: $psiphon-gray1 !important;
            }
        }
        .hmpyVI /* text widget inside the text entry, hover */ {
            background-color: $psiphon-brand-color !important;
            color: $psiphon-gray1 !important;

            svg > path {
                fill: $psiphon-gray1 !important;
            }
        }
    }
    .fHtceQ  {
        color: $psiphon-text3 !important;
    }

    /* checkbox */
    .iVWXDg {
        &:hover {
            cursor: pointer;

            .bzvfYd span {
                color: $psiphon-info-color !important;

                &.daPWMQ svg,
                &.bINed svg,
                &.lrBnp svg /* the checkmark */ {
                    fill: $psiphon-gray1 !important;
                }
            }
        }

        .bzvfYd span /* neutral */ {
            color: $psiphon-gray3 !important;
        }
    }

    /* slider */
    .gCUVAL {
        .jieXsu /* span unfocused, off */,
        .ioMZrV /* span focused, off */ {
            background-color: $psiphon-gray3 !important;
    
        }
        .gaHGzX /* span unfocused, on */,
        .ixjmHg /* span focused, on */ {
            background-color: $psiphon-brand-color !important;
        }

        .hzRJjY /* knob, off */,
        .glFAYm /* knob, on */ {
            background-color: $psiphon-gray1 !important;
        }
    }
}

/* chat pop ups */
.sc-bZQynM {
    background-color: $psiphon-gray5 !important;
    color: $psiphon-gray1 !important;

    .sc-EHOje > button /* action */ {
        background: transparent !important;
        color: $psiphon-brand-color !important;
    }
    
    .sc-htoDjs.dtfgd > span /* pop-up icons */ {
        fill: $psiphon-gray5 !important;
    }

    .sc-iwsKbI, /* pop up button */
    .sc-dnqmqq {
        color: $psiphon-gray1 !important;
    }

    .sc-VigVT /* inner text */ {
        color: inherit !important;
    }
}

/* tooltips - FIX */
.atlaskit-portal-container .irXsJ {
    background-color: $psiphon-gray5 !important;
    color: $psiphon-gray1 !important;
}

/**
 * Disable the slide-in animation for @atlaskit/flag due to the animation
 * repeating for each queued flag once it becomes the top flag.
 */
 .mIBKA:first-child {
    animation: cbfRuT 0s !important;
    -webkit-animation: cbfRuT 0s !important;
}

.modal-dialog-form {
    /**
     * Update the @atlaskit/dropdown-menu trigger wrapper to make sure it looks
     * click-able.
     */
    .cjJUnw {
        cursor: pointer;
    }

    /**
     * Override @atlaskit/dropdown-menu styling when in a modal because the
     * dropdown backgrounds clash with the modal backgrounds.
     */
    .cksvax[data-role=droplistContent] {
        border: 1px solid $psiphon-gray1;
    }
}

/**
 * Override @atlaskit/theme styling for the top toolbar so it displays over
 * the video thumbnail while obscuring as little as possible.
 */
.videocontainer .tOoji {
    background: none;
}
.tOoji #videospace {
    background: #474747;
}

/**
 * Override @atlaskit/InlineDialog styling for the overflowmenu so it displays
 * with the correct height.
 */
.toolbox-button-wth-dialog .eYJELv {
    max-height: initial;
}
