.copy-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    margin-top: 8px;
    width: calc(100% - 24px);
    height: 24px;

    background: $psiphon-brand-color;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: $psiphon-brand-color-dark;
    }

    &-content {
        color: $psiphon-gray1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 292px;
        margin-right: 16px;

        &.selected {
            font-weight: 600;
        }
    }

    &.clicked {
        background: $psiphon-input;
    }

    & > div > svg > path {
        fill: $psiphon-gray1;
    }
}